<!--
 * @Date: 2022-08-23 11:28:45
-->
<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/statics/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="/statics/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/statics/assets/libs/css/style.css">
    <link rel="stylesheet" href="/statics/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <style>
    html,
    body {
        height: 100%;
    }

    body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    </style>
</head>

<body>
    <!-- ============================================================== -->
    <!-- login page  -->
    <!-- ============================================================== -->
    <div class="splash-container">
        <div class="card ">
            <div class="card-header text-center">><img class="logo-img" src="/statics/assets/images/logo.png" alt="logo"><span class="splash-description">Please enter your user information.</span></div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <input required class="form-control form-control-lg" id="username" type="text" placeholder="Username" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input required class="form-control form-control-lg" id="password" type="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" name="remember_me" id="remember"><span class="custom-control-label">Remember Me</span>
                        </label>
                    </div>
                    <input type="button" class="btn btn-primary btn-lg btn-block" id="admin_login" value="Sign in">
                </form>
            </div>
            <div class="card-footer bg-white p-0  ">
                <div class="card-footer-item card-footer-item-bordered">
                    <a href="/admin/view/admin_sign_up.html" class="footer-link">Create An Account</a></div>
                <!-- <div class="card-footer-item card-footer-item-bordered">
                    <a href="#" class="footer-link">Forgot Password</a>
                </div> -->
            </div>
        </div>
    </div>
  
    <!-- ============================================================== -->
    <!-- end login page  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
</body>
<script src="/statics/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
<script src="/statics/assets/vendor/bootstrap/js/popper.min.js"></script>
<script src="/statics/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/statics/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/statics/assets/vendor/bootstrap/js/fileinput.min.js"></script>

<script src="/statics/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
<script src="/statics/assets/vendor/multi-select/js/jquery.multi-select.js"></script>
<script src="/statics/assets/libs/js/main-js.js"></script>

<script type="text/javascript" src="/statics/assets/js/helper.js"></script>
<script type="text/javascript" src="/statics/assets/js/admin/order.js"></script>
<script type="text/javascript" src="/statics/assets/js/admin/admin_user.js"></script>
<script type='text/javascript' src='/statics/assets/js/admin/base.js'></script>
<script>

    $('#admin_login').on('click', function(){
        adminLogion()
    })

</script>

 
</html>